<ion-card>
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <!-- Input for Title -->
  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input [(ngModel)]="publication.title"></ion-input>
    <ion-note color="danger" *ngIf="errors.title">{{ errors.title }}</ion-note>
  </ion-item>

  <!-- Input for Subtitles -->
  <ion-item>
    <ion-label position="floating">Subtítulo</ion-label>
    <ion-input [(ngModel)]="publication.subtitle"></ion-input>
  </ion-item>

  <!-- Input for Description -->
  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-textarea [(ngModel)]="publication.description"></ion-textarea>
    <ion-note color="danger" *ngIf="errors.description">{{ errors.description }}</ion-note>
  </ion-item>

   <!-- Save Button -->
   <ion-button expand="block" (click)="savePublication()">Guardar Publicación</ion-button>

  <!-- Photo Upload -->
  <ion-item>
    <ion-label position="stacked">Foto</ion-label>
    <ion-button expand="full" (click)="capturePhoto()">Capturar Foto</ion-button>
    <img *ngIf="publication.photo" [src]="publication.photo" alt="Photo" style="width: 100%; margin-top: 10px;">
  </ion-item>


  <!-- Show Saved Publication -->
  <ion-card *ngIf="savedPublication">
    <ion-card-header>
      <ion-card-title>{{ savedPublication.title }}</ion-card-title>
      <ion-card-subtitle>{{ savedPublication.subtitle }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img *ngIf="savedPublication.photo" [src]="savedPublication.photo" alt="Photo">
      <p>{{ savedPublication.description }}</p>
    </ion-card-content>
  </ion-card>
</ion-card>
